:root {
    --ant-color: #ff4d4f;
    --ant-color1: white;
    --ant-color-hover: #ff7875;
    --ant-color-active: #d9363e;
    --user-bgColor: rgb(255, 148, 148);
    --ant-btn-delete: rgb(15, 15, 255);
    --var-height: 30px;
    --var-border-radius: 5px;
    --var-inputSearch: 200px;
    --var-overPlay: transparent;
}

.headerSum {
    text-align: center;
    color: var(--ant-color);
}

.sum {
    margin: auto;
    text-align: center;
    display: flex;
}

.listUsers {
    width: 100%;
    border: none;
}

th {
    min-width: 50px;
    height: 40px;
    text-align: left;
}

td {
    text-align: left;
    border-top: 1px solid rgb(176, 176, 176);
}

thead {
    position: relative;
    z-index: 10;
}

tfoot {
    &:hover {
        background-color: var(--user-bgColor);
        color: var(--ant-color1);
    }
}

img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.fixUser,
.deleteUser {
    padding: 0 5px;
    cursor: pointer;
    font-weight: bold;
}

.fixUser {
    color: var(--ant-color-active);
}

.deleteUser {
    color: var(--ant-btn-delete)
}

.addUser,
.search {
    height: 40px;
    padding: 0px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--ant-color);
    border-radius: 40px;
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
    margin: 0 10px;
    color: var(--ant-color1);

    a {
        color: var(--ant-color1);
    }
}

// BoxUser

.BoxAddUser,
.BoxFixUser {
    width: 300px;
    background-color: var(--ant-color);
    color: var(--ant-color1);
    position: absolute;
    top: 50px;
    left: 10px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 0 20px 20px 20px;
    border-radius: 20px;
    display: none;
    z-index: 200;

    input {
        outline: none;
    }
}

.BoxFixUser {
    position: fixed;
    top: 20px;
    left: 1100px;


}

.nameUser {
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    input {
        border-radius: 4px;
        border: 1px solid rgb(155, 155, 155);
    }
}

.BtnAddUser {
    padding: 10px 40px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    background-color: var(--ant-color1);
    color: var(--ant-color);
    margin-top: 20px;
}

.activeFix {
    background-color: var(--ant-color-hover);
    color: var(--ant-color1);
}

//search
.searchUser {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btnPage {
    width: 30px;
    height: 30px;
    background-color: var(--ant-color);
    color: white;
    border: none;
    margin-right: 2px;

    &:hover {
        background-color: var(--ant-color-hover);
        color: var(--ant-color1);
    }
}

.active_Slide_Page {
    background-color: var(--ant-color-active);
    color: var(--ant-color1);
}

.Btn_Back {
    position: absolute;
    left: 0px;
    top: 50px;
    width: 70px;
    height: 40px;
    background-color: var(--ant-color);
    color: var(--ant-color1);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;

    &:active {
        background-color: var(--ant-color-active);
        color: var(--ant-color1);
    }
}

.groupBtn {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.formSearch {
    height: var(--var-height);
    z-index: 100;

    input {
        width: var(--var-inputSearch);
        height: 100%;
        border: 2px solid var(--ant-color);
        border-radius: var(--var-border-radius);
        padding: 0px;
        outline: none;
        padding-left: 5px;
    }

    button {
        width: 40px;
        height: 110%;
        border: none;
        color: var(--ant-color1);
        background-color: var(--ant-color);
        border-radius: var(--var-border-radius);
        font-size: 15px;
        margin-left: 5px;

        &:active {
            background-color: var(--ant-color-active);
        }
    }
}

.boxOverplay {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: var(--var-overPlay);
}